/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  padding: 5px;
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
}

#two {
  border-style: solid;
  border-width: 5px;
  border-color: green;
  padding: 5px;
  margin: 5px;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
}

#three {
  border-style: solid;
  border-width: 5px;
  border-color: orange;
  padding: 5px;
  margin: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
}

#four {
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  padding: 5px;
  margin: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
}

#link {
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
